/* in main.css or index.css */
html, body {
  font-family: 'MuseoSansCyri', sans-serif;
  font-size: 16px; /* base size, can adjust */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #151515; /* if you want black background */
  color: #fff;           /* default text color */
}

body.homeview-active {
  background-color: #151515; /* full black behind scrollbar */
}

@font-face {
  font-family: 'MyseoSansCyri';
  src: url('@/assets/fonts/museosanscyri.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.nav span {
  font-size: 22px; /* new font size */
  color: #fff;
  cursor: pointer;
}

button {
  font-family: 'MuseoSansCyri', sans-serif;
  font-size: 14px; /* adjust as needed */
}

.page {
  padding-top: 164px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box {
  width: 720px;
  height: 320px;
  border-radius: 16px;
  border: 1px solid #333;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}